mixin post-wall(posts)
	.post-wall
		.container-fluid
			.row
				.col-md-12
					h2 Trending
					a.btn.btn-facebook.social-media-button(href="#")
						span.fa.fa-facebook-official
						span Get Our Facebook Updates!
			.row
				.col-md-8: a.headline-story.story(href='/blog/post/' + posts.results[0].slug)
					if posts.results[0].image.exists
						.story-image
							img(src=posts.results[0]._.image.fill(710,500)).img-fluid.w-100
					.story-summary
						if data.category
							.badge.badge-research= data.category.name
						h3.story-title= posts.results[0].title
				.col-md-4: a.important-story.story(href='/blog/post/' + posts.results[1].slug)
					if posts.results[1].image.exists
						.story-image
							img(src=posts.results[1]._.image.fill(340,500)).img-fluid.w-100
					.story-summary
						if data.category
							.badge.badge-research= data.category.name
						h4.story-title= posts.results[1].title
			.row
				.col-md-4: a.story(href='/blog/post/' + posts.results[2].slug)
					if posts.results[2].image.exists
						.story-image
							img(src=posts.results[2]._.image.fill(340,250)).img-fluid.w-100
					.story-summary
						if data.category
							.badge.badge-research= data.category.name
						h4.story-title= posts.results[2].title
				.col-md-4: a.story(href='/blog/post/' + posts.results[3].slug)
					if posts.results[3].image.exists
						.story-image
							img(src=posts.results[3]._.image.fill(340,250)).img-fluid.w-100
					.story-summary
						if data.category
							.badge.badge-research= data.category.name
						h4.story-title= posts.results[3].title
				.col-md-4: aside.add-300-short
			.row
				aside.add-728
